In [2]:
import pandas as pd

In [3]:
df = pd.read_csv("~/Documents/AI Redi School/archive/train_LZV4RXX.csv")

In [4]:
df.head()

,loan_id,age,education,proof_submitted,loan_amount,asset_cost,no_of_loans,no_of_curr_loans,last_delinq_none,loan_default
0,1,27,1.0,Aadhar,504264,820920,2,2,0,0
1,2,48,1.0,Aadhar,728556,831444,6,2,0,0
2,3,30,2.0,VoterID,642936,826092,0,0,0,1
3,4,28,1.0,Aadhar,746556,930924,0,0,0,0
4,5,29,1.0,Aadhar,1139880,1902000,0,0,0,0

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7000 entries, 0 to 6999
Data columns (total 10 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   loan_id           7000 non-null   int64
 1   age               7000 non-null   int64
 2   education         6755 non-null   float64
 3   proof_submitted   7000 non-null   object
 4   loan_amount       7000 non-null   int64
 5   asset_cost        7000 non-null   int64
 6   no_of_loans       7000 non-null   int64
 7   no_of_curr_loans  7000 non-null   int64
 8   last_delinq_none  7000 non-null   int64
 9   loan_default      7000 non-null   int64
dtypes: float64(1), int64(8), object(1)
memory usage: 547.0+ KB

In [6]:
df.isnull().sum()

loan_id               0
age                   0
education           245
proof_submitted       0
loan_amount           0
asset_cost            0
no_of_loans           0
no_of_curr_loans      0
last_delinq_none      0
loan_default          0
dtype: int64

In [8]:
df.dropna(subset=['education'], inplace=True)

In [9]:
# saving the cleaned dataset 
df.to_csv("cleaned_loan_data.csv", index=False)